@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lilita+One&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@viewport {
    width: device-width;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
}

body {
    --text-color: rgba(222, 158, 72, 1);
    --background-color: rgba(55, 44, 46, 1);
    --hover-color: rgba(255, 255, 255, 1);
    --border-color: rgba(0, 0, 0, 1);
    
    background-color: var(--background-color);
}

body.light {
    --text-color: rgba(72, 137, 222, 1);
    --background-color: rgba(44, 55, 53, 1);
    --hover-color: rgba(0, 0, 0, 1);
    --border-color: rgba(255, 255, 255, 1);
}

.harshPageLink {
    text-decoration: none;
}

.header{
    height: 70px;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 20px;
    margin-top: 12px;
    position: fixed;
    top: 0;
    width: calc(100% - 70px);
    color: var(--text-color);
}

.nameLogo{
    font-family: 'Dancing Script';
    font-size: 2.1875vw;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--text-color);
}

.header-list {
    padding-left: 15px;
    padding-right: 15px;
}

.header-list li {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5vw;
    display: inline-flex;
    border-radius: 10px;
}

.header-list li:hover {
    border-radius: 10px;
    color: var(--hover-color);
    cursor: pointer;
}

#contactMe {
    padding-right: 20px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    width: 4vw;
    height: 1vw;
    border-radius: 50px;
    outline: none;
    background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png);
    background-size: cover;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

input[type="checkbox"]::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 1vw;
    width: 2vw;
    background-color: var(--text-color); /* THIS IS ACTUALLY THE COLOR OF THE BUTTON */
    border-radius: 50px;
}

input[type="checkbox"]:checked::after {
    transform: translate(-100%);
}

input[type="checkbox"]:checked{
    background-image: url(https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png);
}

.mainContent_1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 10%;
    position: relative;
    color: var(--text-color);
}

.introContainer {
    width: 50%;
    margin-left: 12%;
    position: relative;
}

.harsh {
    text-align: left;
    padding-top: 5%;
    font-size: 4vw;
    font-family: 'IBM Plex Serif';
}

.passionateEngineer {
    text-align: left;
    font-size: 1.75vw;
    padding-top: 15px;
    font-family: 'IBM Plex Serif';
    font-weight: 200;
}

.opportunitySearching {
    text-align: left;
    font-size: 1.75vw;
    padding-top: 7%;
    font-family: 'IBM Plex Serif';
    font-weight: 400;
}

.socialMedia {
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    font-size: 2.2vw;
    justify-content: left;
}

.socialMedia i:hover {
    color: var(--hover-color);
}

.mailSymbol {
    padding-right: 12.5%;
    color: var(--text-color);
}

.githubSymbol {
    padding-right: 12.5%;
    color: var(--text-color);
}

.linkedinSymbol {
    padding-right: 12.5%;
    color: var(--text-color);
}

.instagramSymbol {
    color: var(--text-color);
}

.pictureContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 6%;
}

.mainPicture {
    border-radius: 50%; 
    border-color: var(--border-color);
    height: auto;
    width: 80%;
}

/* FOR DIFFERENT DEVICES */
@media only screen and (max-width: 992px) {
    #aboutMe {
        display: none;
    }

    #contactMe {
        display: none;
    }

    #myProjects {
        display: none;
    }

    input[type="checkbox"] {
        height: 35px;
        width: 70px;
    }
}

@media only screen and (max-width: 406px) {
    /* FIX THE HARSH SHARMA ISSUE */
}
