@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lilita+One&family=IBM+Plex+Serif&display=swap');

@viewport {
    width: device-width;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lilita One', serif;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cdddde;
}

a:visited {
    color: black;
}

.header{
    height: 70px;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 20px;
    margin-top: 12px;
    position: fixed;
    top: 0;
    width: calc(100% - 70px);
}

.nameLogo{
    font-family: 'Dancing Script';
    font-size: 35px;
    color: black;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

.header-list {
    padding-left: 15px;
    padding-right: 15px;
}

.header-list li {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    display: inline-flex;
}

.header-list li:hover {
    border-radius: 10px;
    color: whitesmoke;
    background-color: black;
    cursor: pointer;
}

.mainContent {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 105px;
}

.pictureContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.mainPicture {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px; /* THIS IS WHAT GIVES THE PICTURE CURVED EDGES */
    border-color: black;
    width: 55%;
    height: auto;
}

.introContainer {
    width: 50%;
}

.harsh {
    text-align: center;
    padding-top: 10%;
    font-size: 4vw;
    font-family: 'IBM Plex Serif';
}

.opportunitySearching {
    text-align: center;
    font-size: 3vw;
    padding-top: 10%;
    font-family: 'IBM Plex Serif';
    font-weight: bold;
}


/* FOR DIFFERENT DEVICES */
@media only screen and (max-width: 900px) {
    
}
