@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lilita+One&display=swap');

@viewport {
    width: device-width;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lilita One', serif;
}

body {
    background-image: url("img/Beach Background.jpg");
    background-size: cover;
}

.header{
    height: 70px;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.nameLogo{
    font-family: 'Dancing Script';
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.header-list {
    padding-left: 15px;
    padding-right: 15px;
}

.header-list li {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    display: inline-flex;
}

.mainContent {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.sandBackground_1, .sandBackground_2 {
    width: 15%;
}

.mainBody {
    width: 70%;
    text-align: center;
}
